@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Qwitcher+Grypen:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}
:root{
    --text-color:#f5f5f5;
    --hover-color:#ff7200;
    --bg-color:#1e1b32;
    --secon-bg-color:#1f2327;
    --big-font:2.5rem;
    --norma-font:2rem;
    --neon-box-shadow:0 0.5rem #12f7ff;
    --h2-font:3rem;
    --font-neon-text-shadow:0 0 10px rgba(18,247,255,0.5),
    0 0 10px rgba(18,247,255,0.5),
    0 0 20px rgba(18,247,255,0.5),
    0 0 30px rgba(18,247,255,0.5),
    0 0 40px rgba(18,247,255,0.5),
    0 0 70px rgba(18,247,255,0.5),
    0 0 80px rgba(18,247,255,0.5),
    0 0 100px rgba(18,247,255,0.5),
    0 0 150px rgba(18,247,255,0.5);
    
}
body{
    font-family:"Poppins",sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10%;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
}
span{
    color: var(--hover-color);

}
.navlist{
    display: flex;
    
}
.navlist a{
    color: var(--text-color);
    font-weight: 500;
    padding: 10px 20px;
}
.navlist a:hover{
    color: var(--hover-color);
    text-shadow: 0 0 10px rgba(18,247,255,0.3),
    0 0 10px rgba(18,247,255,0.3),
    0 0 20px rgba(18,247,255,0.3),
    0 0 30px rgba(18,247,255,0.3),
    0 0 40px rgba(18,247,255,0.3),
    0 0 70px rgba(18,247,255,0.3),
    0 0 80px rgba(18,247,255,0.3),
    0 0 100px rgba(18,247,255,0.3),
    0 0 150px rgba(18,247,255,0.3);
}
#menu-icon{
    font-size: 1.8rem;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    background: var(--hover-color);
    border-radius: 3px;
    color: var(--secon-bg-color);
    display: none;

}
section{
    padding: 100px 10%;
}
.home{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 4rem;

}
.home-content{
    max-width: 600px;
}
.home-content h1{
    font-size: var(--big-font);
    font-weight: 700;
}
.change-text{
    font-size: 1.5rem;
    font-weight: 600;
}
.change-text h3{
     display: inline-flex;
     margin: 0;
     vertical-align: top;
}

.word {
    position: absolute;
    opacity: 0;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    transition: opacity 0.5s ease;
}

/* Styling for each letter */
.letter {
    display: inline-block;
    position: relative;
    transition: transform 0.3s, opacity 0.3s;
}

/* Out animation: moves letters up and fades out */
.letter.out {
    transform: translateY(-100%);
    opacity: 0;
}

/* Behind animation: hides letters behind the next word */
.letter.behind {
    transform: translateY(100%);
    opacity: 0;
}

/* In animation: moves letters up to their normal position and fades in */
.letter.in {
    transform: translateY(0);
    opacity: 1;
}

.home-content p{
    color: #bdbdbd;
    line-height: 1.6rem;

}
.info-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    margin: 1rem 0 2rem;
}
.info-box h5{
    font-weight: 600;
    color: var(--text-color);
    font-size: 1rem;
}
.info-box span{
    font-size: .9rem;
    color: #bdbdbd;
}
.btn-box{
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 45px;

}
.btn-box a.btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: var(--hover-color);
    color: var(--bg-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .6s;
    box-shadow: var(--hover-color);
    border: 2px solid var(--hover-color);
    border-radius: 6px;
    position: relative; 
    overflow: hidden;
    z-index: 1;
    margin-top: 20px;

}
a.btn:hover{
    color: var(--hover-color);
}
a.btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bg-color);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .4s;
}

a.btn:hover::before{
    width: 100%;
}
a.btn:nth-child(2){
    background: var(--bg-color);
    color: var(--hover-color);
}
a.btn:nth-child(2):hover{
    color: var(--bg-color);
}

a.btn:nth-child(2)::before{
    background: var(--hover-color);
    
}
.social-icons{
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    width: 220px;
    height: 40px;
}
.social-icons a{
    display: inline-flex;
    width: 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    color: var(--hover-color);
    border: 2px solid var(--hover-color);
    transition: .6s;
    box-shadow: 0,0,0,0.3rem var(--hover-color);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;

}
.social-icons a i{
    font-size: 1.5rem;
}
.social-icons a:hover{
    color: var(--bg-color);
}
.social-icons a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--hover-color);
    transition: .6s;
    z-index: -1;

}

.social-icons a:hover::before{
    width: 100%;

}
.home-image{
    position: relative;
}
.img-box{
    text-align: center;
}
.img-box img{
    width: 100%;
    max-width: 430px;
    height: auto;
    
}
.liquid-shape{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 10%;
}
.liquid-shape:nth-child(2){
    filter: blur(50px);
}

/* About section css -----------------------------------*/
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 2rem;
    /* margin: 30px; */
    /* background: var(--bg-color); */
}
.img-about{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 30px;
    
}
.liquid-shape1{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 10%;
}
.liquid-shape1:nth-child(2){
    filter: blur(50px);
}
.about-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.side-content{
    width: 70%;
    margin-top: 60px;
   
}
.side-content span{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    
}
.side-content h2{
    font-size: 2.5rem;
    font-weight: bold;
    margin: 5px 0;
}
.side-content h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 5px 0;

}
.side-content p{
    font-size: 1rem;
    margin: 10px 0;
    color: #bdbdbd;
}

.main-text{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 2rem;
    color: var(--hover-color);
}
.main-text h2{
    font-weight: 700;
    font-size: var(--norma-font);
}
.main-text span{
    color: #fdfdfd;
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}
/* SERVICES section css -----------------------------------*/
.section-services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    grid-gap: 2rem;
}
.section-services .services-box{
    flex: 1 1 18rem;
    padding: 2rem 1rem 2rem;
    text-align: center;
    background: var(--secon-bg-color);
    border: 1px solid var(--hover-color);
    border-radius: 10px;
    transition: .4s;
}
.service-btn{
    width: auto;
    justify-content: center;
}
.services-box:hover{
    transform: translateY(-.7rem);
    box-shadow: 0 0 10px rgba(0, 0, 0,0.3);

}
.service-icon{
    padding: 1rem; 
    display: flex;
    color: #ff7200;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}
.services-box h3{
    margin-top: 10px;
    font-size: 1.2rem
}
.services-box p{
    margin: .5rem 0 1.5rem 0;
    font-weight: 300px;
    letter-spacing: 1px;
    color: #bdbdbd;
    line-height: 1.6rem;
}

/* skills section css -----------------------------------*/
.skill-main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}

.skill-main h3{
    margin-bottom: 2rem;
    font-size: var(--norma-font);
    text-align: center;
}
.skill-bar{
    margin-bottom: 2.3rem;
}
.skill-left .skill-bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.skill-left .skill-bar .bar{
    width: 100%;
    height: 10px;
    background-color:#bdbdbd;
    border-radius: 10px;
    margin-top: 10px;
    position: relative;
}
.skill-bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background: var(--hover-color);
    border-radius: 25px;
    box-shadow: var(--hover-color);
}

.skill-bar .bar .html{
    width: 80%;
    animation: html 2s;
}
.skill-bar .bar .css{
    width: 72%;
    animation: css 3s;
}
.skill-bar .bar .javascript{
    width: 65%;
    animation: javascript 4s;
}
.skill-bar .bar .bootstrap{
    width: 52%;
    animation: bootstrap 5s;
}
.porfessional{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.box{
    position: relative;
    margin: 10px 0;
    flex: 1 1 15rem;
}
.box .text{
    text-align: center;
    color:#fff;
    font-size: 1rem;

}
.box .text big{
    font: 400;
    letter-spacing: 1px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff7200;

}
.box .text small{
    margin-top: 10px;
    display: block;
    font-weight: 600;
}

.circle{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;
}
.circle .points{
    width: 3px;
    height: 10px;
    background-color: var(--bg-color);
    position: absolute;
    border-radius: 3px;
    transform: rotate(calc(var(--i)*var(--rot))) translateY(-45px);

}
.points .marked{
    animation: glow 0.04s linear forwards;
    animation-delay: calc(var(--i)*0.05s);
    
}
/* portfolio section css -----------------------------------*/
.fillter-buttons{
    margin: 2rem;
    text-align: center;
}
.fillter-buttons .btn{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: .85rem;
    font-weight: 600;
    letter-spacing: .4px;
    margin-left: 1.3rem;
    color: var(--text-color);
}
.fillter-buttons .btn:hover{
    color: var(--hover-color);
}
.portfolio-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(270px,1fr));
    gap: 2rem;
}
.port-box{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background: #1f2327;
    display: flex;
    grid-template-rows: 1fr auto;
    align-items: center;
    border: 2px solid var(--hover-color);
    box-shadow: #ff7200;
    
}
.port-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;   
}
.port-image img{
    width: 100%;
    height: 100%;
    opacity: .5s;
    transition: .5s;
}
.port-content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(rgba(0,0,0,.2),#ff7200);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: 0.5s;
    padding: 0 2rem;
}

.port-box:hover .port-content{
    opacity: 1;
}
.port-content h3{
    font-size: 1.5rem;
    font-weight: 600;
}
.port-content p{
    font-size: .8rem;
    margin: 5px 0 15px 0;
}
.port-content a{
    background: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid #ff7200;
    outline: 2px solid #fff;
}
.port-content a i{
    font-size: 1.3rem;
    color: var(--secon-bg-color);
}

/* contact page */

/* #contact-details{
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact-details .details{
    width: 70%;
}
#form-details form span{
    text-align: center;
    font-size: 12px;
    
}
#contact-details .details h2,
#form-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
    align-items: center;
}
#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}
#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;

}
#contact-details .details li i {
    font-size: 14px;
    padding-right: 22px;

}
#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}
#contact-details .map{
    width: 55%;
    height: 400px;
}
#contact-details .map iframe{
    width: 100%;
    height: 100%;
}
#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}
#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}
#form-details form button{
    background-color: #088178;
    color: #fff;
}
#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}
#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}
#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}
#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
 */
 .form{
    display: flex;
    justify-content: center;
    align-items: center;
 }
.form input{
    padding: 13px;
    margin-top: 18px;
    margin-right: 5px;
    border: #ff7200;
    border-radius: 5px;
    width: 40%;
    box-sizing: border-box;
   

}
.form button{
    padding: 10px 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: var(--hover-color);
    color: var(--bg-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .6s;
    box-shadow: var(--hover-color);
    border: 2px solid var(--hover-color);
    border-radius: 6px;
    position: relative; 
    overflow: hidden;
    z-index: 1;
    margin-top: 20px;


}
.form button:hover{
 background: var(--bg-color);

}
.form button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bg-color);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .4s;
}

.form button:hover::before{
    width: 100%;
}
.form button:nth-child(2){
    background: var(--bg-color);
    color: var(--hover-color);
}
.form button:nth-child(2):hover{
    color: var(--bg-color);
}

.form button:nth-child(2)::before{
    background: var(--hover-color);
    
}

#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}
#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}
#form-details form button{
    background-color: #088178;
    color: #fff;
}
#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}
#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}
#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}
#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}












@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }

}
@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 72%;
    }

}
@keyframes javascript {
    0%{
        width: 0%;
    }
    100%{
        width: 65%;
    }

}
@keyframes bootstrap {
    0%{
        width: 0%;
    }
    100%{
        width: 52%;
    }

}

@keyframes glow{
    0%{
        background: var(--bg-color);
        /* box-shadow: none; */
    }
    100%{
        background: var(--hover-color);
        box-shadow: var(--neon-box-shadow);
    }
}
